

@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/dominos.scss';

// .frame1{ opacity: 0; }
// .frame2{ opacity: 0; }
// .frame3{ opacity: 0; }
// .frameEnd{ opacity: 1 }
// .frame{ opacity: 1 }





#banner{		
	width: 300px;
	height: 600px;	
}
