

@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/dominos.scss';

// .frame1{ opacity: 0; }
// .frame2{ opacity: 0; }
// .frame3{ opacity: 0; }
// .frameEnd{ opacity: 1 }
// .frame{ opacity: 1 }





#banner{		
	width: 300px;
	height: 250px;	
}



.frame1{
	.bg{
		height: 105px;
		width: 100%;
	}

	.video{
		@include pos-scaleXY(32, 103, -.88, .88);
	}

	.bg{
		@include pos(0, 0);

	}

}
