

@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/dominos.scss';

// .frame1{ opacity: 0; }
// .frame2{ opacity: 0; }
// .frame3{ opacity: 0; }
// .frameEnd{ opacity: 1 }
// .frame{ opacity: 1 }





#banner{		
	width: 728px;
	height: 90px;	
}

.frame1{
	.video, .bg{
		width: 50%;
		height: 100%;
	}

	.video{
		@include pos-scaleXY(728/2, -54, -1, 1);
	}

	.bg{
		@include pos(0, 0);

	}

}
