<div class="logo">
		<img src="./images/logo.png" class="retina" >	
	</div>
	
	<div class="frame frameEnd_a">
		<img src="./images/t2.png" class="retina t2" >
	</div>
	
	
	

	
	<div class="frame frameEnd_b">
		
		<div class="bg-main">
			<div class="bg-top"></div>
			<div class="bg-round">
				<div class="bg-pad"></div>
				<img src="./images/bg_round.png" class="retina" >		
				<img src="./images/cta.png" class="retina cta" >		
				<img src="./images/txt_end.png" class="retina txt_end" >	
			</div>	
		</div>
		
		
		
	</div> 

