<div class="video">
			<img src="./images/video_1.jpg" id="video_1" >	
			<img src="./images/video_2.jpg" id="video_2" >	
			<img src="./images/video_3.jpg" id="video_3" >	
			<img src="./images/video_4.jpg" id="video_4" >	
			<img src="./images/video_5.jpg" id="video_5" >	
			<img src="./images/video_6.jpg" id="video_6" >	
			<img src="./images/video_7.jpg" id="video_7" >	
			<img src="./images/video_8.jpg" id="video_8" >	
			<img src="./images/video_9.jpg" id="video_9" >	
			<img src="./images/video_10.jpg" id="video_10" >	
			<img src="./images/video_11.jpg" id="video_11" >	
			<img src="./images/video_12.jpg" id="video_12" >	
			<img src="./images/video_13.jpg" id="video_13" >	
			<img src="./images/video_14.jpg" id="video_14" >	
			<img src="./images/video_15.jpg" id="video_15" >	
			<img src="./images/video_16.jpg" id="video_16" >	
			<img src="./images/video_17.jpg" id="video_17" >	
			
		</div>