

@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/dominos.scss';

// .frame1{ opacity: 0; }
// .frame2{ opacity: 0; }
// .frame3{ opacity: 0; }
// .frameEnd{ opacity: 1 }
// .frame{ opacity: 1 }





#banner{		
	width: 320px;
	height: 50px;	
}

.frame1{
	.video, .bg{
		
		height: 100%;
	}

	.video{
		@include pos-scaleXY(253, -39, -.46, .46);
		width: 135px;
	}

	.bg{
		@include pos(0, 0);
		width: 185px;
	}

}
