
	
	

	<div class="frame frame1">
		<img src="./images/keyboard.jpg" class="retina" >				
		<div class="time">
			<img src="./images/key.png" class="retina key" id="time1" >	
			<img src="./images/key.png" class="retina key" id="time2" >	
			<img src="./images/key.png" class="retina key" id="time3" >	
			<img src="./images/key.png" class="retina key" id="time4" >
		</div>

		<div class="to">
			<img src="./images/key.png" class="retina key" id="to1" >	
			<img src="./images/key.png" class="retina key" id="to2" >	
		</div>


		<div class="take">
			<img src="./images/key.png" class="retina key" id="take1" >	
			<img src="./images/key.png" class="retina key" id="take2" >	
			<img src="./images/key.png" class="retina key" id="take3" >	
			<img src="./images/key.png" class="retina key" id="take4" >	
		</div>


		<div class="a">
			<img src="./images/key.png" class="retina key" id="a1" >				
		</div>

		<div class="break">
			<img src="./images/key.png" class="retina key" id="break1" >				
			<img src="./images/key.png" class="retina key" id="break2" >				
			<img src="./images/key.png" class="retina key" id="break3" >				
			<img src="./images/key.png" class="retina key" id="break4" >				
			<img src="./images/key.png" class="retina key" id="break5" >				
			<img src="./images/key.png" class="retina key" id="break6" >				

		</div>


	</div>

	
	<img src="./images/logo.png" class="retina logo" >
	<img src="./images/txt_end.png" class="retina txt_end" >								
	<img src="./images/t1a.png" class="retina t1a" >				
	

